body {
    font-family: 'Sigmar One', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFB2D0;
}

header{
    background: #FFB2D0;
    padding: 15px 0;
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin:auto;
    padding: 0 20px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.hero {
    padding: 50px;
    background: #FFB2D0;
    color: #0165FC;
}

.hero .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #658B38;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.project-card {
    background: #FFB2D0;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background: #FDEE73;
    color: black;
    padding: 10px;
    margin-top: 20px;
}