body {
    font-family: 'Sigmar One', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFB2D0;
}

header{
    background: #FFB2D0;
    padding: 15px 0;
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin:auto;
    padding: 0 20px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

img{
    max-width: 100%;
    height: auto;
}

.hero {
    padding: 50px;
    background: #FFB2D0;
    color: #0165FC;
}

.hero .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #658B38;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.project-card {
    background: #FFB2D0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.project-card:hover {
    transform: scale(1.05);
}

footer {
    background: #FDEE73;
    color: black;
    padding: 10px;
    margin-top: 20px;
}